:host {
  display: block;
  width: 100%;
}

.gg-code-snippet {
  padding: 16px;
  border-radius: 16px;
  background-color: #151b23;
  box-shadow: 0px 16px 32px -8px #151b23;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  min-height: 140px;

  @media screen and (min-width: 1280px) {
    padding: 32px;
  }
}

.gg-code-snippet__syntax-highlight {
  text-wrap: auto;
  background-color: #151b23;
  color: #fafafa;
}
