:host {
  display: block;
}

.gg-color-picker__trigger{
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  width: 240px;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 600;
  font-size: 18px;
  place-content: center;
  cursor: pointer;
  /* anchor-name: --tooltip; */
}

.tooltip{
  background-color: #1F2C3D;
  border-radius: 8px;
  /* view-transition-name: --tooltip;
  position-anchor:  --tooltip; */
  position-area: top center;
  position: absolute;
  margin: 4px 0;
  width: 240px;
  padding: 16px;
  box-sizing: border-box;
}


.gg-color-picker__input{
  background-color: #1F2C3D;
  border: none;
  color: #fff;
  box-sizing: border-box;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding:  8px 12px;
  width: 100%;
  border: 2px solid #fff;
  border-radius: 8px;
}


.gg-color-picker-button{
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: #fff;
}


.gg-color-picker__examples{
  display: flex;
  gap: 8px;
  margin-top: 8px;
  flex-wrap: wrap;
}
