/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body,
html {
  margin: 0;
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}


.gg-button {
  padding: 8px 32px;
  border: none;
  border-radius: 8px;
  background-color: #4a90e2;
  font-weight: 600;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &--icon {
    padding: 8px 16px;
  }

  &:hover {
    background-color: #357ab8;
  }
}