:host {
  display: flex;
  width: 100%;
}

.gg-text-input {
  background-color: #1f2c3d;
  border-color: #2a3b51;
  border-radius: 16px;
  height: 52px;
  width: 100%;
  color: #fff;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8rem;
  padding: 8px 12px;
  resize: none;
}